# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:3333/api

# NextAuth
NEXTAUTH_SECRET=xxx
AUTH_SECRET=xxx
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
