# Server
PORT=3333
FRONTEND_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://localhost:27017/sebi-chatbot

# JWT
JWT_SECRET=xxx

# Google OAuth
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

# BigQuery
BIGQUERY_PROJECT_ID=xxx